{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>Contraseña actualizada - CLOUDCENTER</title>
    <link rel="shortcut icon" href="{% static 'img/logo.ico' %}" />
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
</head>

<body class="bg-primary">
<div id="layoutAuthentication">
    <main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card shadow-lg border-0 rounded-lg mt-5 text-center">
                        <div class="card-header">
                            <h3 class="my-4">
                                <i class="fas fa-circle-check text-success"></i><br><br>
                                Contraseña actualizada
                            </h3>
                        </div>
                        <div class="card-body">
                            <p>Tu contraseña fue cambiada correctamente.</p>
                            <a href="{% url 'login' %}" class="btn btn-primary">
                                Iniciar sesión
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>
